{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <!-- Profile info -->
    <div class="container mt-3 mb-5 posts profile">
        <img class="avatar mt-1" src="{% static 'network/avatar.png' %}" alt="profile_photo" height="120px" width="120px">
        {% if user.is_authenticated and user != profile %}
            {% if profile in user.following.all %}
                <button class="btn btn-outline-warning btn-sm follow" id="{{ profile.id }}">Unfollow</button>
            {% else %}
                <button class="btn btn-outline-primary btn-sm follow" id="{{ profile.id }}">Follow</button>
            {% endif %}
        {% endif %}
        <div class="name mt-1"><b>{{ profile.username }}</b></div>
        <div><i class="bi bi-calendar-check me-2"></i><span>Joined December 2021</span></div>
        <div><span class="me-3">{{ profile.followers.all|length }} Followers</span><span>{{ profile.following.all|length }} Following</span></div>
    </div>
    
    <!-- All posts -->
    <div class="container posts">
        {% for post in profile.posts.all %}
            <div class="row my-3 post">
                <div class="col-auto">
                    <img class="avatar my-1" src="{% static 'network/avatar.png' %}" alt="avatar"
                    height="70px" width="70px">
                </div>

                <div class="col">
                    <p class="mb-1">
                        <strong><a href="{% url 'profile' post.author.id %}">{{ post.author }}</a></strong>
                        <span class="text-muted fw-lighter"> at {{ post.timestamp|date:"M j, Y, P" }}</span>
                    </p>
                    <p class="content">{{ post.content }}</p>
                    <div class="likes">
                            {% if user in post.likes.all %}
                                <i id="{{ post.id }}" class="bi bi-heart-fill like"></i>
                            {% else %}
                                <i id="{{ post.id }}" class="bi bi-heart like"></i>
                            {% endif %}
    
                            <span class="count">
                                {% if post.likes.count > 0 %}
                                    {{ post.likes.count }}
                                {% endif %}
                            </span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="my-4 noposts">
                <h4>No posts yet</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/likes.js' %}"></script>
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}