body {
    padding: 10px;
}

/* form.listing {
    margin-left: 1rem;
    width: 60%;
}

div.param {
    width: 70%;
}

ul.errorlist {
    width: max-content;
    font-size: small;
    color: red;
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
    margin: 0;
}

div.bid {
    width: 15%;
}

div#lst {
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 4px;
}

div#lst:hover {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.137);
    background-color: rgb(245, 244, 244);
}

a, a:hover {
    text-decoration: none;
}

i {
    font-size: 2rem;
}

form#icon {
    display: inline;
}

div.desc {
    width: 90%;
    font-size: x-large;
}

button.close {
    border-radius: 15px;
}




.border {
    border: 1px solid rgba(0, 0, 0, 0.658);
}


div.category {
    display: inline;
    border: 1px solid rgba(0, 0, 0, 0.342);
    font-size: x-large;
    padding: 0px 10px 3px 10px;
    border-radius: 16px;
    background-color: rgba(148, 190, 253, 0.493);
    
}

div.category:hover {
    background-color: rgba(125, 177, 255, 0.493);
}

h2 {
    margin-left: 1rem;
}

img.listing {
    max-width: 500px;
    max-height: auto;
}
 */



/* .header {
    background-color: rgba(148, 189, 236, 0.808);
    color:rgb(34, 49, 49);
    height: 40px;
    font-size: large;
} */

.commentblock {
    width: 60%;
    background-color: rgba(140, 190, 255, 0.295);
    border: 1px solid rgba(0, 0, 0, 0.137);
    margin-top: 20px;

}
.comment-input {
    width: 100%;
    margin-left: 0;
}

img.avatar {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

div.container {
    height: 50%;
}

div.posts {
    width: 60%;
}

hr {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border: none;
}

.post {
    border: 1px solid rgba(0, 0, 0, 0.103);
}

div.likes {
    margin-bottom: 5px;
    display: inline;
}

.like {
    color: red;
    /* border: 1px solid white; */
    /* border-radius: 30px; */
    cursor: pointer;
}



.form-group {
    margin-bottom: 1rem;
}

a, a:hover {
    text-decoration: none;
}

div.noposts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* delete later */
div.profile {
    border: 1px solid rgba(0, 0, 0, 0.096);
}

button.btn-sm {
    border-radius: 15px;
    float: right;
    width: 6rem;
    margin-top: 10px;
}

div.edit {
    /* border: 1px solid black; */
    float: right;
    color: rgba(0, 0, 0, 0.411);
    cursor: pointer;
    display: inline;
    margin-bottom: 5px;
}

div.edit:hover {
    color: rgba(0, 0, 0, 0.712);
}

div.textarea {
    display: none;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.445);
}